table,th,tr,td {
  border: solid 1px blue;
  text-align: center;
}
table {
  width: 700px;
}

/* テーブル行色 */
.tr-readyOney {
  background-color: gray;
}
.tr-write {
  text-align: left;
  background-color: #fcf393;
}

/* text設定 */
input[type="text"] {
  /* 枠表示されない */
  border-style:none;
  /* クリックときも枠表示されない */
  outline:none;
  /* 自動縮放寬度佔滿容器 */
  width: 97%;
  height: 100%;
  /* background-color: #fcf393; */
}
/* text-readOnlyに色設定 */
input:read-only.read-only {
  /* input:read-only.read-onlyにスペースがない */
  background-color: gray
}

button {
  width: 100px;
  height: 30px
}

ol {
  /* 修正便利のため範囲表示 */
  /* border: dashed 1px blue; */
  text-align: left;
  /* 邊間-外距 [margin:上 右 下 左;]*/
  margin:5px 0 5px 0;
}