table,th,tr,td {
  border: solid 1px blue;
  text-align: center;
}
table{
  width:600px;
  border-collapse: collapse;
  /* 邊間-外距 [margin:上 右 下 左;]*/
  margin:5px 0 5px 0;
  /* 居中 */
  /* margin:0 auto; */
}
/* 偽類選取器 第n 子エレメント*/
/* 偶數「even」 */
tr:nth-child(even){
  background-color: skyblue;
}
/* 單數「odd」 */
tr:nth-child(odd){
  background-color: ghostwhite;
}
thead tr:nth-child(2){
  background-color: rgb(11, 236, 3);
  color:black;
  font-size: 20px;
}
tr:hover{
  background-color: white;
  color:red;
}
label{
  background-color: rgb(238, 236, 216);
  /* width: 200px; */
  display: inline-block;
}
form{
  border: dashed 3px blueviolet;
  /* 丸角 */
  border-radius:5px;
  margin:20px;
  padding:20px;
}
.row{
  /* 區 */
  display: inline-block;
}
span{
  display:block;
}
div{
  border: dashed 1px rgb(228, 234, 235);
  width: 80%;
  padding:10px;
  margin:0 auto;
  text-align:center;
}
input[type=submit]{
  display: block;
  margin:0 auto;
}
/* table {
  width: 700px;
}

tr {
  height: 10px;
}

.tr-readyOney {
  background-color: gray;
}

.tr-write {
  text-align: left;
  background-color: #fcf393;
} */

/* text設定 */
input[type="text"] {
  /* 枠表示されない */
  /* border-style:none; */
  /* クリックときも枠表示されない */
  /* outline:none; */
  /* 自動縮放寬度佔滿容器 */
  /* width: 97%; */
  /* height: 100%; */
  /* background-color: #fcf393; */
}

/* readOnlyに色設定 */
input:read-only.read-only {
  /* input:read-only.read-onlyにスペースがない */
  background-color: gray
}

button {
  width: 100px;
  height: 30px
}

ol {
  /* 修正便利のため範囲表示 */
  /* border: dashed 1px blue; */
  text-align: left;
  /* 邊間-外距 [margin:上 右 下 左;]*/
  margin:5px 0 5px 0;
}