<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BootstrapのCSS読み込み -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style type="text/css">
        /* div{margin:5px;border:0;padding:0;} */
    </style>
    <!-- jQuery読み込み -->
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <!-- BootstrapのJS読み込み -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>Top | Honest-info </title>
</head>

<body>
    <!-- メイン画像 -->
    <div class="container">
        <!-- http://localhost:8088/honest-info/images/mainImg.jpg -->
        <img th:src="@{/images/mainImg.jpg}" width="1110" height="145" alt="">
    </div>

    <!-- TODO CSSクラス変更 test-->
    <!-- // style="margin: 1px auto 1px;" -->
    <div th:if="${employeeName}" class="container" >
        <!-- TODO space style-->
        <p th:text="${employeeName} + ' Welcome to honest-info web system.'" class="h6"></p>
    </div>
    <div th:if!="${employeeName}" style="width:1600x; height:10px;" >
        <!-- TODO space style-->
    </div>

    <div class="container" >

        <!-- TODO CSSクラス変更 test-->
        <div style="width:200px; height:550px; float:left; border:1px blue solid; display:inline">
            <!-- TODO -->
            ナビ位置保留
            <p><a th:href="@{/employee/list/{loginId}/{employeeName}(loginId=${loginId},employeeName=${employeeName})}">
                　･ 社員一覧-保留</a></p>
            <p><a th:href="@{/employee/add}">
                　･ 社員登録-保留</a></p>
            <!-- <p><a th:href="@{/work_houres/index}"> -->
            <p><a href="">
                　･ 勤怠管理-作業中</a></p>
            <p><a href="">
                　　→ 勤務表-作業中</a></p>
            <p><a th:href="@{/schedule/index}">
                　･ スケジュール管理-保留</a></p>
            <p><a th:href="@{/schedule/index}">
                　　→ 予定-保留</a></p>
            <p><a th:href="@{../bulletin/index.html}">
                　･ 掲示板管理-保留</a></p>
            <p><a th:href="@{../bulletin/index.html}">
                　　→ 新規-保留</a></p>
            <p><a th:href="@{/management/index}">
                　･ データ管理-保留</a></p>
            <p><a th:href="@{/management/index}">
                　　→ 個人情報-保留</a></p>
            <br>
            <br>
            <p><a th:href="@{/demo/index}">　･ テスト用Demoへ</a></p>
        </div>

        <!-- TODO CSSクラス変更 -->
        <div style="width:900px; height:550px; float:right; border:1px blue solid; display:inline">

            <h4>掲示板</h4>
    
            <!-- タイトルメッセージ -->
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <!-- modelから名前が一致する値で置き換わる -->
                <h6 th:text="${count} + '件知らせがあり、ご確認ください。'"></h6>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <!-- 掲示板表示内容 -->
            <table class="table table-striped">
                <thead>
                    <!-- タイトル -->
                    <tr>
                        <th scope="col-1">カテゴリー</th>
                        <th scope="col-3">タイトル</th>
                        <th scope="col-auto">概要</th>
                        <th scope="col">掲載日</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 繰り返し -->
                    <tr th:each="bulletin : ${bulletinList}">
                        <td th:text="${bulletin.category}"></td>
                        <td th:text="${bulletin.title}"></td>
                        <td th:text="${bulletin.content}"></td>
                        <td th:text="${bulletin.publishDate}"></td>
                    </tr>
                </tbody>
            </table>
    
            <!-- th:hrefは、遷移先のURLを指定 -->
            <p><a th:href="@{/bulletin/index}">　MOREへ</a></p>
        </div>

    </div>
    
</body>

</html>